
body{ background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;}
    h1{color: burlywood; font-weight: bold;}
    h2{color:burlywood; font-weight: bold;}
    h3{color:burlywood; font-weight: bold;} 
    h4{color:burlywood; font-weight: bold;}
    h5{color:burlywood; font-weight: bold;} 
    h6{color:burlywood; font-weight: bold;}
    p{background-color: blueviolet;}
    li{background-color: blueviolet;}

